*{
  margin: 0;
  padding: 0;
}
body{
    background: #f4f4f2;
}
.header ul {
  list-style-type: none;
  overflow: hidden;
  font-size: 15px;
  background: #222;
  }

.header li {
  float: right;
  font-size: 20px;
}
.header #name{
  color: white;
  background: #222;
  padding: 20px 5px;
  float: left;
  font-size: 20px;
}

.header #logo{
clear: both;
float: left;
padding: 5px 20px;
}
.header li a {
  display: block;
  color: #c1afac;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
.header li a:hover {
  color: #222;
  background:#fcf1d1;
  border-top: solid;
  border-color: red;
/*#f7efd7#f7efd9#fff1c9*/;
  border-bottom: white;
}

.header li a:active {
  background-color: white;
  color: #222;
}
.headers li a:active {
  background-color: #ea2a2a;
  color: white;
}
